<p>adding image to database for <%= @user.username %></p>
<%= form_for @user_image, url: {action: "create", id: @user} do |f| %>
  <div>
    <p>url(s)</p>
    <%= f.text_area :url %>
  </div>

  <%= f.submit "Add" %>
<% end %>