<p>adding image to database for <%= @user.username %></p>
<%= form_for @user_image, local: true, url: {action: "create", id: @user} do |f| %>
<!--  <div>
    <p>url(s)</p>
    <%#= f.text_area :url %>
  </div>-->
  <%= f.file_field :images, multiple: true %>

  <%= f.submit "Add" %>
<% end %>

<p> 1. Sign in with any name </p>
<p> 2. Select "Add Image" </p>
<p> 3. Add any photos you have with people in it! This will kick off the process of scanning for faces while categorizing them by person.  </p>
<p> 4. Visit a person's page to see all the photos they are in. </p>
<p> 5. You can also search by object or person's name (editable) to view all photos that are found with the object/name. </p>
<p> 6. Check out https://github.com/GarlandZhang/face for more. </p>