<%= image_tag @user_image.image %>
<h2>People</h2>
<ul>
  <% @people.each do |person| %>
    <li>
      <%= link_to person.name, person_path(person) %>
    </li>
  <% end %>
</ul>
<h4>Tags</h4>
<ul>
  <% @object_tags.each do |tag| %>
    <li>
      <%= tag.name %>
    </li>
  <% end %>
</ul>